<h1>Listing dwarves</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dwarves.each do |dwarf| %>
  <tr>
    <td><%= dwarf.name %></td>
    <td><%= dwarf.email %></td>
    <td><%= link_to 'Show', dwarf %></td>
    <td><%= link_to 'Edit', edit_dwarf_path(dwarf) %></td>
    <td><%= link_to 'Destroy', dwarf, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dwarf', new_dwarf_path %>
