<p id="notice"><%= notice %></p>

<p>
  <b>Foot:</b>
  <%= @foot.Foot %>
</p>

<p>
  <b>Name:</b>
  <%= @foot.name %>
</p>

<p>
  <b>Email:</b>
  <%= @foot.email %>
</p>


<%= link_to 'Edit', edit_foot_path(@foot) %> |
<%= link_to 'Back', foots_path %>
